<form method='post' action='/update/{{data.id}}'>
    <input type='text' name='name' class='form-control mt-2 mb-2' value='{{data.name}}' />
    <button class='form-control btn btn-success'>Xác nhận</button>
</form>