<form action='/store' method='post'>
    <input type='text' class='form-control m-2' name='name' placeholder='Name' />
    <input type='text' class='form-control m-2' name='img' placeholder='linkimg' />
    <button class='form-control m-2 btn btn-success'>Xác nhận</button>
</form>