<h1 class='color_red'>hello ae <a href='#'>F8</a></h1>

<form action='/content' method='post'>
    <input type='text' name='q' placeholder='tìm gì đi ' class='form-control' />
    <button class='form-control mt-2'>Xác nhận</button>
</form>